html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: white;
  margin: 0px;
}

/*Navigation Bar*/

nav {
  font-family: "Open Sans", sans-serif;
  padding-top: 3em;
  margin-bottom: -4em;
}

.coinbase {
  /*The coinbase name on the left of nav bar*/
  color: #226ee1;
  font-size: 30px;
  font-weight: 600;
  padding-left: 10px;
}

.pages {
  /*For other pages/links on the nav bar*/
  font-size: 18px;
  font-weight: 400;
  float: right;
  padding-right: 5%;
  padding-top: 6px;
}

#dropdown {
  /*For dropdown nav bar on mobile phone*/
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-color: white;
  padding-bottom: 2em;
  overflow: hidden;
  visibility: hidden;
}

#menu {
  /*container for hamburger menu icon*/
  float: right;
  background-color: transparent;
  border: none;
  visibility: hidden;
}

#menu > svg {
  /*hamburger menu icon*/
  padding-top: 5px;
  height: 15px;
  width: 20px;
}
#menu > svg > rect {
  /*To fill every row of the hashm*/
  fill: #226ee1;
}

/*========Home Page========*/

.topic {
  /*For heading of every section*/
  font-size: 3vw;
  font-weight: 500;
  text-align: center;
  padding-top: 3em;
}

/*Welcome Section*/
.marble {
  /*to format welcome section*/
  background-image: url("../assets/home-page/marble-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px 20%;
  margin-top: -2em;
}

#title {
  /*For words "Start Your Crypto Journey With Coinbase Today"*/
  color: #226ee1;
  font-size: 3.5vw;
  font-weight: 500;
  padding-top: 3em;
}

#sub {
  /*For words "Buy, sell and exchange cryptocurrency easily and securely" */
  font-size: 2vw;
  padding-top: 1em;
}

/*Available Cryptocurrencies*/

.flex-container {
  /*Container to cointain all 6 sub-section of cryptocurrency*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 3%;
  margin-bottom: 3em;
  margin-left: -10px;
}

.flex-item {
  /*Container for individual sub-section of cryptocurrency*/
  border-radius: 30px;
  display: flex;
  align-items: center;
  background-color: white;
  margin: 2%;
  padding: 10px;
  flex: 1 1 0%;
  box-shadow: 3px 3px 10px #ededed;
  flex: 0 0 27%;
}

.flex-item img {
  /*Image of cryptocurrency*/
  padding-left: 10px;
  padding-right: 10px;
  width: 40%;
}
.flex-item p {
  /*Content in every section*/
  font-size: 1.25vw;
  font-weight: 500;
  padding-right: 10px;
}

.abbreviation {
  /*abbreviation of cryptocurrency*/
  color: grey;
}

.crypto {
  /*Full name of cryptocurrency*/
  text-align: center;
  padding-bottom: 5em;
}

.crypto > a {
  /*Link below available cryptocurrencies section to
  redirect to products page for viewer to know more about the app*/
  font-size: 1.25vw;
}

/*About Coinbase*/
/*For Coinbase icon and brief description*/
.flex-container-row1 {
  /*To contain logo and brief introduction of coinbase*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
}

.flex-container-row1 img {
  /*Logo of coinbase*/
  padding-right: 10px;
  border-radius: 30px;
}

.flex-item-row1 {
  /*to format brief introduction of coinbase*/
  border-radius: 28px;
  display: flex;
  align-items: center;
  background-color: white;
  margin-right: 2%;
  padding: 15px;
  box-shadow: 3px 3px 10px #ededed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  height: fit-content;
}

.flex-item-row1 p {
  /*change padding for brief introduction*/
  padding-right: 20px;
  padding-left: 20px;
}

/*For remaining*/
.flex-container-1 {
  /*Remaining content of about coinbase*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5em;
}

.flex-container-1 div {
  /*Container for every sub section*/
  text-align: center;
  border-radius: 28px;
  background-color: white;
  margin: 1%;
  padding: 30px;
  box-shadow: 3px 3px 10px #ededed;
  flex: 1 1 0%;
}

.data-info {
  /*for data*/
  font-size: 14px;
}

.data {
  /*for data's name*/
  font-size: 28px;
  font-weight: 500;
}

/*Our Mission*/
video {
  /*Video about coinabase*/
  margin-top: 3em;
  width: 100%;
  height: 100%;
}

/*Footer*/
.footer {
  /*to format footer*/
  padding-top: 5%;
  background-color: #f5f8ff;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

.footer ul {
  /*container of every sub-section of footer*/
  list-style-type: none;
}

.footer-sub {
  /*title of every sub-section of footer*/
  font-weight: 600;
  padding-bottom: 5px;
}

.footer li {
  /*to contain links*/
  padding-top: 10px;
}

.footer li > a > img {
  /*to format image of the app store and google play*/
  border-radius: 5px;
  width: 50%;
}

/*Media queries*/

@media only screen and (max-width: 480px) {
  /*Media queries for phone version of index.html*/
  /*Navigation Bar*/

  .coinbase {
    font-size: 14px;
  }

  .pages {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 5em;
  }

  #menu > svg {
    margin-top: -18px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    visibility: visible;
  }

  #dropdown-container {
    position: absolute;
    top: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
  }
  #dropdown {
    align-content: center;
    flex-basis: 100%;
    flex: 1;
  }

  .pages-dropdown {
    text-align: center;
    padding-top: 1.25em;
  }

  /*index.html*/
  .topic {
    padding-top: 1em;
  }

  /*Welcome Section*/
  .marble {
    margin-top: -2em;
  }

  /*Available Cryptocurrencies*/ /*To change from 3 columns to 2 columns*/
  .flex-item {
    border-radius: 15px;
    padding: 5px;
    flex: 1 1 40%;
  }

  .flex-item img {
    width: 25%;
  }
  .flex-item p {
    font-size: 8px;
    padding-right: 5px;
  }

  .crypto > a {
    font-size: 8px;
  }

  /*About Coinbase*/
  /*For Coinbase icon and brief description*/

  .flex-container-row1 img {
    width: 100%;
    max-width: 120px;
    height: 100%;
  }

  .flex-item-row1 {
    border-radius: 10px;
    margin-right: 2%;
    font-size: 8px;
  }

  .flex-item-row1 p {
    padding: 35px 10px;
  }

  /*For remaining*/ /*To change from all items in 1 row to 1 or 2 items per row*/
  .flex-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    justify-content: space-around;
    padding-left: 1%;
    margin-bottom: 5em;
  }

  .flex-container-1 div {
    text-align: center;
    border-radius: 28px;
    background-color: white;
    margin: 1%;
    padding: 20px;
    box-shadow: 3px 3px 10px #ededed;
    flex: 1 1 33%;
    height: 5em;
  }

  .data-info {
    font-size: 10px;
  }

  .data {
    font-size: 16px;
    font-weight: 500;
  }

  /*Our Mission*/
  video {
    margin-top: 1em;
  }

  /*Footer*/
  .footer {
    /*To allow multiple rows instead of 1 to contain all sub-section of footer*/
    flex-wrap: wrap;
    font-size: 8px;
    justify-content: space-between;
    padding-bottom: 15%;
    padding-right: 10%;
  }

  .footer li > a > img {
    width: 20vw;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /*For larger phones and tablets*/
  /*Navigation Bar*/
  .coinbase {
    font-size: 18px;
  }

  .pages {
    padding-top: 2px;
    font-size: 14px;
  }

  /*index.html*/
  .topic {
    padding-top: 1em;
  }

  /*Available Cryptocurrencies*/
  .flex-item {
    /*To change from 3 columns to 2 columns*/
    border-radius: 15px;
    padding: 10px;
    flex: 1 1 40%;
  }

  .flex-item img {
    width: 40%;
  }
  .flex-item p {
    font-size: 14px;
    padding-right: 5px;
  }

  .crypto > a {
    font-size: 2vw;
  }

  /*About Coinbase*/
  /*For Coinbase icon and brief description*/

  .flex-container-row1 img {
    width: 100%;
    max-width: 160px;
    height: auto;
    max-height: 160px;
  }

  .flex-item-row1 {
    margin-right: 2%;
    font-size: 14px;
    line-height: 1.5;
  }

  .flex-item-row1 p {
    padding-right: 10px;
    padding-left: 10px;
  }

  /*For remaining*/ /*To change from all items in 1 row into 2 rows*/
  .flex-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    justify-content: space-around;
    padding-left: 1%;
    margin-bottom: 5em;
  }

  .flex-container-1 div {
    text-align: center;
    border-radius: 28px;
    background-color: white;
    margin: 1%;
    padding: 20px;
    box-shadow: 3px 3px 10px #ededed;
    flex: 0 0 33%;
  }

  .data-info {
    font-size: 14px;
  }

  .data {
    font-size: 20px;
    font-weight: 500;
  }

  /*Our Mission*/
  video {
    margin-top: 1em;
  }

  /*Footer*/
  .footer {
    /*To allow multiple rows instead of 1 to contain all sub-section of footer*/
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: space-between;
    padding-bottom: 15%;
    padding-right: 10%;
  }

  .footer li > a > img {
    width: 25%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /*For larger tablets and laptops*/
  /*Navigation Bar*/

  .coinbase {
    font-size: 24px;
  }

  .pages {
    padding-top: 4px;
    font-size: 16px;
  }

  /*Available Cryptocurrencies*/
  .flex-item {
    border-radius: 15px;
    padding: 5px;
  }

  .flex-item img {
    width: 40%;
  }
  .flex-item p {
    font-size: 14px;
    padding-right: 5px;
  }

  /*About Coinbase*/
  /*For Coinbase icon and brief description*/

  .flex-container-row1 img {
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 200px;
  }

  .flex-item-row1 {
    margin-right: 2%;
    font-size: 16px;
    height: 10.5em;
  }

  .flex-item-row1 p {
    padding-right: 10px;
    padding-left: 10px;
  }

  /*For remaining*/
  .data-info {
    font-size: 10px;
  }

  .data {
    font-size: 20px;
    font-weight: 500;
  }

  /*Our Mission*/
  video {
    padding-top: 1em;
  }
}

/*========Learn Page========*/

/*First Section*/
.learn-first-section {
  /*To contain the title of the page and image in 2 columns*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
  padding-top: 2em;
  padding-bottom: 10%;
}

.learn-first-section-learn {
  /*Part of the title*/
  font-size: 28px;
}

.learn-first-section-topic {
  /*Another part of the title*/
  font-size: 36px;
  font-weight: 500;
}

.learn-first-section img {
  /*Image in the first section*/
  padding-top: 2em;
  width: 60%;
}

/*Second Section*/
.learn-second-section {
  /*For the main content on the page, formatted in 1 column*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.learn-second-section-topic {
  /*Topic of every section*/
  font-size: 30px;
  font-weight: 500;
  padding-top: 10%;
}

.learn-second-section img {
  /*Image of the section*/
  padding-top: 1em;
  width: 70%;
  max-height: 65vh;
  padding-bottom: 1em;
}

.learn-second-section-content {
  /*Content of the section*/
  width: 70%;
  text-align: left;
  font-size: 20px;
  line-height: 2;
}

/*Button*/
.button-container {
  /*Container of buttons to redirect to either app store or google play to downlaod app*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 20%;
}

.button-to-app {
  /*Button to redirect to either app store or google play to downlaod app*/
  background-color: #226ee1;
  color: white;
  border-color: #226ee1;
  box-shadow: 3px 3px 10px #ededed;
  font-size: 12px;
  border-radius: 10px;
  width: 20em;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  /*Media queries for phone version of learn.html*/
  /*First Section*/
  .learn-first-section {
    /*To convert from 2 column to 1 column*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    margin: 0;
  }

  .learn-first-section-learn {
    font-size: 14px;
  }

  .learn-first-section-topic {
    font-size: 20px;
  }

  .learn-first-section img {
    padding-top: 1em;
    width: 90%;
  }

  /*Second Section*/
  .learn-second-section-topic {
    font-size: 14px;
  }

  .learn-second-section img {
    width: 80%;
  }

  .learn-second-section-content {
    width: 80%;
    font-size: 10px;
  }

  /*Button*/
  .button-to-app {
    font-size: 8px;
    border-radius: 5px;
    width: 18em;
    padding: 5px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /*For larger phones and tablets*/
  /*First Section*/
  .learn-first-section {
    /*To convert from 2 columns into 1 column*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    margin: 0;
  }

  .learn-first-section-learn {
    font-size: 18px;
  }

  .learn-first-section-topic {
    font-size: 24px;
  }

  .learn-first-section img {
    padding-top: 1em;
    width: 90%;
  }

  /*Second Section*/

  .learn-second-section-topic {
    font-size: 17px;
  }

  .learn-second-section img {
    width: 80%;
  }

  .learn-second-section-content {
    width: 80%;
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /*For larger tablets and laptops*/
  /*First Section*/

  .learn-first-section-learn {
    font-size: 18px;
  }

  .learn-first-section-topic {
    font-size: 26px;
  }

  .learn-first-section img {
    padding-top: 1em;
    max-width: 70%;
    max-height: 50%;
    width: auto;
  }

  /*Second Section*/

  .learn-second-section-topic {
    font-size: 20px;
  }

  .learn-second-section img {
    width: 80%;
  }

  .learn-second-section-content {
    width: 80%;
    font-size: 16px;
  }
}

/*========Products Page========*/
.products {
  /*link below nav bar for user to go to either app or card section directly without scrolling*/
  color: grey;
  text-align: center;
}

/*App Section*/

/*First section of app section*/
.app {
  /*To create two columns*/
  padding-top: 3em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 10%;
}

.app-screenshot {
  max-width: 40%;
  max-height: 80vh;
  border-radius: 15px;
  box-shadow: 0px 0px 8px #ededed;
}

.app-topic {
  /*Trade your cryptocurrencies securely and easily*/
  font-size: 32px;
  font-weight: 500;
}

.app-features {
  /*list of features of app*/
  list-style-type: none;
  padding-top: 1em;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  margin-right: 20px;
  padding-left: 0;
}

.app-features li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5em;
}

.app-features img {
  /*format 'tick' photo*/
  width: 22px;
  height: 20px;
  margin-right: 20px;
}

.app-features-send {
  /*width for 'Send and recieve' feature of the app*/
  width: 70%;
}

.download-app {
  /*format container to promote the app for users*/
  display: flex;
  flex-wrap: nowrap;
  border: solid 3px #ededed;
  border-radius: 15px;
  align-items: center;
  margin-left: 7.5%;
  width: 85%;
  padding-bottom: 1em;
  margin-bottom: 15%;
  line-height: 1.25;
}

.text {
  /*cointainer for text in 'download app' section*/
  padding-left: 15%;
  width: 40%;
}

.get-the-app {
  /*Get the App Now*/
  color: #226ee1;
  font-size: 30px;
  font-weight: 500;
}

.join {
  /*Join more than 70 million users*/
  color: grey;
  font-size: 14px;
}

.download-icon > a {
  /*format links for app store and google play*/
  padding-left: 14px;
}

.download-icon > a > img {
  /*image of app store and google play*/
  border-radius: 10px;
  width: 30%;
}

/*Card Section*/

.card {
  /*Create 2 columns for taglines and image of card*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10%;
}

.card-text {
  /*part of tagline*/
  color: #226ee1;
  font-size: 40px;
  font-weight: 500;
}

.coming-soon {
  /*part of tagline*/
  color: gray;
  font-size: 24px;
}

.card > img {
  /*image of card*/
  max-width: 50%;
  max-height: 80vh;
  height: auto;
  padding-left: 5%;
}

.benefit {
  /*Container for the 3 benefits of using the card*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 5%;
  padding-bottom: 10em;
}

.benefit > ul {
  /*container for respective benefits*/
  text-align: center;
  list-style-type: none;
  padding-right: 25px;
}

.benefit h3 {
  /*heading for every topic*/
  font-size: 30px;
}

.benefit p {
  /*content for every topic*/
  font-size: 18px;
}

.benefit img {
  /*a relevant photo for every topic*/
  width: 75%;
  height: auto;
}

@media screen and (max-width: 480px) {
  /*Media queries for phone version of products.html*/
  .products {
    /*to be use with javascript, so that it would not have conflicts with dropdown menu*/
    position: relative;
    padding-top: 2em;
    font-size: 12px;
    z-index: 2;
  }

  /*App Section*/
  .app {
    /*Convert to 1 column from 2 column*/
    flex-wrap: wrap;
    flex-direction: column;
  }

  .app-screenshot {
    margin-top: 2em;
    max-width: 80%;
  }

  .app-topic {
    font-size: 20px;
  }

  .app-features {
    font-size: 12px;
  }

  .app-features-send {
    width: 100%;
  }

  .download-app {
    /*Convert from 1 row to multiple rows*/
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 2px #ededed;
    width: 80%;
    justify-content: center;
  }

  .text {
    padding-left: 5%;
    width: 100%;
  }

  .get-the-app {
    font-size: 24px;
  }

  .join {
    font-size: 12px;
  }

  .download-icon > a {
    padding-left: 12px;
  }

  .download-icon > a > img {
    margin-top: 1em;
    border-radius: 5px;
    width: 25%;
  }

  /*Card Section*/

  .card {
    /*Convert to 1 column from 2 columns*/
    flex-direction: column-reverse;
    margin: 0%;
    text-align: center;
    padding-bottom: 10%;
  }

  .card-text {
    font-size: 24px;
  }

  .coming-soon {
    font-size: 12px;
    font-weight: 400;
  }

  .card > img {
    max-width: 70%;
    padding-left: 0;
  }

  .benefit {
    /*Convert to 1 column from 3 columns*/
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }

  .benefit > ul {
    padding-right: 0px;
  }

  .benefit h3 {
    font-size: 5vw;
  }

  .benefit p {
    font-size: 12px;
  }

  .benefit img {
    max-width: 50%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /*For larger phones and tablets*/
  .products {
    font-size: 14px;
  }

  /*App Section*/
  .app {
    /*Convert to 1 column from 2 column*/
    flex-wrap: wrap;
    flex-direction: column;
  }

  .app-screenshot {
    margin-top: 2em;
    max-width: 80%;
  }

  .app-topic {
    font-size: 5vw;
  }

  .app-features {
    font-size: 18px;
  }

  .app-features-send {
    width: 100%;
  }

  .download-app {
    /*Convert from 1 row to multiple rows*/
    flex-wrap: wrap;
    flex-direction: column;
    border: solid 2px #ededed;
    width: 80%;
    justify-content: center;
  }

  .text {
    padding-left: 5%;
    width: 100%;
  }

  .get-the-app {
    font-size: 24px;
  }

  .join {
    font-size: 12px;
  }

  .download-icon > a {
    padding-left: 12px;
  }

  .download-icon > a > img {
    margin-top: 1em;
    border-radius: 5px;
    width: 25%;
  }

  /*Card Section*/

  .card {
    /*Convert to 1 column from 2 columns*/
    flex-direction: column-reverse;
    margin: 0%;
    text-align: center;
    padding-bottom: 10%;
  }

  .card-text {
    font-size: 30px;
  }

  .coming-soon {
    font-size: 18px;
    font-weight: 400;
  }

  .card > img {
    max-width: 70%;
    padding-left: 0;
  }

  .benefit {
    /*Convert to 1 column from 3 columns*/
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }

  .benefit > ul {
    padding-right: 0px;
  }

  .benefit h3 {
    font-size: 30px;
  }

  .benefit p {
    font-size: 18px;
  }

  .benefit img {
    max-width: 50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /*For larger tablets and laptops*/
  /*App Section*/

  .app-screenshot {
    max-width: 30%;
  }

  .app-topic {
    font-size: 28px;
  }

  .app-features {
    font-size: 18px;
  }

  .text {
    padding-left: 15%;
    width: 60%;
  }

  .get-the-app {
    font-size: 24px;
  }

  .join {
    font-size: 12px;
  }

  .download-icon > a {
    padding-left: 36px;
  }

  .download-icon > a > img {
    width: 30%;
  }

  /*Card Section*/

  .card-text {
    font-size: 28px;
  }

  .coming-soon {
    font-size: 20px;
  }

  .card > img {
    max-width: 40%;
  }

  .benefit h3 {
    font-size: 20px;
  }

  .benefit p {
    font-size: 12px;
  }
}

/*========Contact Page========*/

.contact-form-container {
  /*Container for form*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #226ee1;
  padding-top: 10%;
  padding-bottom: 10%;
}

.contact-form {
  /*to format form*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
  height: 70%;
  width: 70%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px;
}

.contact-form > h1 {
  /*format heading of form*/
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  margin-top: -0.5em;
  padding-bottom: 1em;
}

.contact-form > p {
  /*for format of error prompt*/
  color: red;
}

.contact-form > input, /*for format of input boxes*/
select,
textarea {
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 6vh;
}

.contact-form > textarea {
  /*padding for label for textarea*/
  padding-top: 10px;
}

/*border color when input boxes are in focus*/

.contact-form > input:focus {
  border: 1px solid #226ee1;
}

.contact-form > select:focus {
  border: 1px solid #226ee1;
}

.contact-form > textarea:focus {
  border: 1px solid #226ee1;
}

#area > option {
  /*make width of option be the same as other input boxes*/
  width: inherit;
}

textarea {
  /*format for text area*/
  height: 10vh;
  resize: none;
}

button {
  /*button to 'submit' form*/
  width: 100%;
  background-color: #226ee1;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 1em;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  /*Media queries for phone version of contact.html*/
  .contact-form > h1 {
    font-size: 1em;
  }

  .contact-form > label {
    font-size: 10px;
  }

  .contact-form > input,
  select,
  textarea {
    font-size: 8px;
  }

  button {
    font-size: 10px;
  }
}
